# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Automatically set line endings
# See https://help.github.com/articles/dealing-with-line-endings
# In case of problems: http://stackoverflow.com/questions/11383094/unstaged-changes-left-after-git-reset-hard

# Automatically solve merge conflicts
# See http://stackoverflow.com/questions/27134100/whats-the-proper-usage-of-gitattributes-with-merge-ours

*.css text merge=ours
*.ics text eol=crlf
