#<VirtualHost *:80>
# See https://github.com/h5bp/server-configs-apache
# ServerName {{config.domain}}
# DocumentRoot /var/www; # Replace with actual doc root

AddCharset utf-8 .html ._html .css .js .rss .atom .xml .ics .md .json .txt
DirectoryIndex index.html
ErrorDocument 404 /404.html
ErrorDocument 410 /404.html

AddType text/plain ._html
AddType application/json .json
AddType application/vnd.google-earth.kml+xml .kml
AddType text/calendar .ics
AddType text/plain .md
AddType text/xml xml rss atom
AddType video/mp4 .mp4
AddType video/ogg .ogv
AddType video/webm .webm

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>

{{#config.specialFeatures.teasersnippets}}
  <IfModule mime_module>
    Options +Includes
    AddOutputFilter INCLUDES .html
  </IfModule>
{{/config.specialFeatures.teasersnippets}}

#<IfModule mod_expires.c>
#  ExpiresActive on
#  ExpiresDefault                          "access plus 1 hour"
#  ExpiresByType image/vnd.microsoft.icon  "access plus 2 weeks"
#  ExpiresByType image/png                 "access plus 2 weeks"
#  ExpiresByType image/jpg                 "access plus 2 weeks"
#  ExpiresByType image/jpeg                "access plus 2 weeks"
#  ExpiresByType image/svg+xml             "access plus 2 weeks"
#  ExpiresByType text/css                  "access plus 2 weeks"
#  ExpiresByType application/javascript    "access plus 2 weeks"
#  ExpiresByType text/javascript           "access plus 2 weeks"
#</IfModule>

# General Blogophon redirects
RedirectMatch 301 ^/htdocs/(.*)$ /$1
RedirectMatch 301 ^/(posts|\d+(/\d+(/\d+)?)?)/?$ /

# Add your stuff here

#</VirtualHost>
