body { font: 80% Tahoma, sans-serif; padding: 0; }

a { color: maroon; border-radius: 0.5em; }

#header { font-size: 1em; padding: 1em; margin: 0; border-bottom: 1px solid #888; background: #74AEEE; text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5); }

#header a { display: block; color: white; text-align: right; font-family: Georgia, serif; height: 100%; }

main { padding: 1em; }

.date { float: right; color: gray; font-size: 0.6em; font-weight: normal; margin-left: 0.5em; }

.modified { display: none; }

#footer { text-align: center; clear: both; border-top: 1px dotted #cccccc; font-size: 0.8em; color: gray; margin-top: 3em; }

.back { text-align: center; margin-top: 1em; }

.meta { font-size: 0.9em; color: gray; }

.meta a { color: inherit; }

.meta .author, .meta .publisher { display: none; }

amp-img.quad { float: left; display: inline-block; margin: 0 1em 1em 0; }
