* { margin: 0; padding: 0; }
body { font-family: Arial, sans-serif; line-height: 1.5; }
* + h2, * + h3, * + article, * + section { margin-top: 1em; }
* + p, * + h4 { margin-top: 0.5em; }
li { margin-left: 1.5em; }
body[dir="rtl"] li { margin-right: 1.5em; margin-left: 0; }
a { color: #116bfc; }
#container > header, #container > div > main, #container > div > aside, #container > footer { padding-left: 0.5em; padding-right: 0.5em; }
@media screen and (min-width: 640px) { #container > header, #container > div > main, #container > div > aside, #container > footer { padding-left: calc(50vw - (320px) + 0.5em); padding-right: calc(50vw - (320px) + 0.5em); } }
#container > header { background-color: #116bfc; }
#container > header h1 { font-size: 1em; }
#container > header a { color: white; text-decoration: none; }
#container > aside { border-top: 1px dashed #666666; }
#prevnext { text-align: center; padding: 2em 0; }
#prevnext a { display: inline-block; padding: 0 1em; }
#header, #sidebar, #footer { padding-top: 1em; padding-bottom: 1em; }
#sidebar { background-color: #dddddd; border-top: 1px dashed #666666; }
#footer { background-color: #dddddd; color: #666666; font-size: 0.7em; text-align: center; }
article header .date { float: right; font-size: 0.8em; }
body[dir="rtl"] article header .date { float: left; }
article img, article amp-img, article .figure { float: left; margin: 0 1em 1em 0; max-width: 100%; height: auto; }
body[dir="rtl"] article img, body[dir="rtl"] article amp-img, body[dir="rtl"] article .figure { float: right; }
article img.default, article amp-img.default, article .figure.default { width: 100%; margin: 0 0 1em; float: none; }
article img.quad, article amp-img.quad, article .figure.quad { max-width: 37.5%; }
article .figure { display: inline-block; font-size: 0.8em; }
article .figure img { margin: 0; width: 100%; max-width: 100%; }
article .figure .figcaption { display: block; padding: 0.5em 0; border-bottom: 1px solid; color: #666666; }
article + article { margin-top: 2em; border-top: 1px solid #eee; }
article blockquote p { white-space: pre-line; }
article code { font-family: "Courier New", monospace; background-color: #eee; padding: 0.2em 0.3em; }
article table { margin-bottom: 1em; }
article table tr, article table thead, article table tbody { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
article table tr:last-child, article table thead:last-child, article table tbody:last-child { border: none; }
article table td, article table th { padding: 0.1em 1em 0.1em 0; }
article table td:last-child, article table th:last-child { padding-right: 0; }
article .location, article .permalink { display: none; }
article input[type="checkbox"] { vertical-align: -0.15em; }
article footer { color: #666666; overflow: hidden; font-size: 0.8em; }
article footer a { text-decoration: none; }
article address img { width: 2em; }
article iframe { width: 100%; overflow: hidden; border: none; }
.teasers .modified { display: none; }
