@charset "UTF-8";
* { margin: 0; padding: 0; }
body { font-family: Arial, sans-serif; line-height: 1.5; }
* + h2, * + h3, * + article, * + section { margin-top: 1em; }
* + p, * + h4 { margin-top: 0.5em; }
li { margin-left: 1.5em; }
body[dir="rtl"] li { margin-right: 1.5em; margin-left: 0; }
a { color: #116bfc; }
a:hover { color: #0240a5; }
@media print { @page { margin: 0.5cm; }
  h1, h2, h3, h4 { page-break-after: avoid; }
  h1, h2, h3, h4, p, li, tr, img { page-break-inside: avoid; }
  thead { display: table-header-group; }
  img { max-width: 100% !important; } }
#container > header, #container > #navigation, #container > div > main, #container > div > aside, #container > footer { padding-left: 0.5em; padding-right: 0.5em; }
@media screen and (min-width: 640px) { #container > header, #container > #navigation, #container > div > main, #container > div > aside, #container > footer { padding-left: calc(50vw - (320px) + 0.5em); padding-right: calc(50vw - (320px) + 0.5em); } }
#container > header { background-color: #116bfc; }
#container > header h1 { font-size: 1em; }
#container > header a { color: white; text-decoration: none; }
#container > aside { border-top: 1px dashed #666666; }
.breadcrumb { list-style: none; display: block; font-size: 0.8em; margin-bottom: -1em; }
.breadcrumb li { display: inline-block; margin: 0; }
.breadcrumb li:after { content: "\00BB"; }
.breadcrumb li:last-child { display: none; }
#prevnext { text-align: center; padding: 2em 0; }
#prevnext a { display: inline-block; padding: 0 1em; }
#header, #sidebar, #footer { padding-top: 1em; padding-bottom: 1em; }
#navigation { background-color: #dddddd; border-bottom: 1px dashed #666666; margin-bottom: 1em; padding: 0.2em 0; }
#navigation ul { list-style: none; display: block; }
#navigation ul li { display: inline-block; margin: 0 1em 0 0; }
#navigation a { text-decoration: none; }
#sidebar { background-color: #dddddd; border-top: 1px dashed #666666; }
#footer { background-color: #dddddd; color: #666666; font-size: 0.7em; text-align: center; }
article header .date { float: right; font-size: 0.8em; }
body[dir="rtl"] article header .date { float: left; }
article img, article amp-img, article .figure { float: left; margin: 0 1em 1em 0; max-width: 100%; height: auto; }
body[dir="rtl"] article img, body[dir="rtl"] article amp-img, body[dir="rtl"] article .figure { float: right; }
article img.default, article amp-img.default, article .figure.default { width: 100%; margin: 0 0 1em; float: none; }
article img.quad, article amp-img.quad, article .figure.quad { max-width: 37.5%; }
article .figure { display: inline-block; font-size: 0.8em; }
article .figure img { margin: 0; width: 100%; max-width: 100%; }
article .figure .figcaption { display: block; padding: 0.5em 0; border-bottom: 1px solid; color: #666666; }
article .gallery img.portrait { max-width: calc(50% - 1em); margin: 0 0.5em 1em; }
article a.gallery__link { position: relative; cursor: -webkit-zoom-in; cursor: zoom-in; }
article + article { margin-top: 2em; border-top: 1px solid #eee; }
article ul.task-list, article ol.task-list { list-style: none; }
article blockquote { color: #666666; margin-left: 1em; }
article code { font-family: "Courier New", monospace; background-color: #eee; padding: 0.2em 0.3em; }
article .table-wrapper { max-width: 100%; overflow: auto; }
article table { margin-bottom: 1em; }
article table caption { font-weight: bold; }
article table tr, article table thead, article table tbody, article table caption { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
article table tr:last-child, article table thead:last-child, article table tbody:last-child, article table caption:last-child { border: none; }
article table td, article table th { padding: 0.1em 1em 0.1em 0; }
article table td:last-child, article table th:last-child { padding-right: 0; }
article .location, article .permalink { display: none; }
article input[type="checkbox"] { vertical-align: -0.15em; }
article footer { color: #666666; overflow: hidden; font-size: 0.8em; }
article footer a { text-decoration: none; }
article address img { width: 2em; }
article iframe { width: 100%; overflow: hidden; border: none; }
.teasers .modified { display: none; }
.video-player { position: relative; padding-bottom: 56.25%; width: 100%; height: 0; margin-bottom: 1em; overflow: hidden; }
.video-player iframe, .video-player img.preview, .video-player video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; }
.image-popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); color: white; cursor: -webkit-zoom-out; cursor: zoom-out; }
.image-popup:after { top: 0.2em; right: 0.2em; position: absolute; z-index: 1; content: "\274e"; }
.image-popup img { width: auto; height: auto; max-width: 100%; max-height: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0 auto; }
@font-face { font-family: 'icomoon'; src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAYsAAsAAAAABeAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIFrGNtYXAAAAFoAAAAVAAAAFQXVtKJZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAAhgAAAIYkWONAWhlYWQAAAPcAAAANgAAADYL0TOHaGhlYQAABBQAAAAkAAAAJAfAA8hobXR4AAAEOAAAABwAAAAcEgAAgWxvY2EAAARUAAAAEAAAABAA0AF8bWF4cAAABGQAAAAgAAAAIAALAEVuYW1lAAAEhAAAAYYAAAGGmUoJ+3Bvc3QAAAYMAAAAIAAAACAAAwAAAAMDgAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6QIDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOkC//3//wAAAAAAIOkA//3//wAB/+MXBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAA/8AD/gO+ACcAAAUhLgE3ESY2NzYkDAExHgEHEQ4BByERMzcjNTQ2OwE1IyIGHQEjFTMCH/4UHxoGAiAVBQEhAVYBHBUgAgYMIf73hRKXJRhmmkpihoZAAxoWA5gcEgUBAQEBAxIe/GgPHgYBi55vGxiaaFx4ngAAAAEAKQB+A90DBwAtAAA3HgE3LgEnFjY3LgEnHgE3LgE3HgMXJj4BFhcWNjcWBgc+ATcOAQcGAgYkJyk8iFZUPBsjLg5FUwYVJRA9FSQaVml3OwVKanIjKDcdATUWGjQZESQlCq/9/tt/fgsDUwlOKQMHCQhXXA4MAzqCRy5ALiMSZG4mGiUJIw4eNBsEDQ0UKSDG/vp7FFYAAwBYAAYDsANmABYALgBCAAABIg4CFRQWFwc3HgEzMj4CNTQuAgcyHgIVFA4CIyImJwc3LgE1ND4CMwcOARceAxcWNj8BJwcuASc3JwIKV5pzQh8cR+gtZjdYmXNCQnOZWEh/Xzc3X39IM2AoiywfJDdff0igHCMSGjtGUC8wQRUIaTU/URowMQNmQnOZWDtsL+RHGRpCc5lYWJlzQkk3X39ISH9fNx0aLYgrZzlIf183jSBDLUBbPygODioSLzs4Dk43NXgAAAABAAAAAQAATyrAy18PPPUACwQAAAAAANRZ94YAAAAA1Fn3hgAA/8AD/gO+AAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAP+AAEAAAAAAAAAAAAAAAAAAAAHBAAAAAAAAAAAAAAAAgAAAAQAAAAEAAApBAAAWAAAAAAACgAUAB4AXACoAQwAAQAAAAcAQwADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAcAAAABAAAAAAACAAcAYAABAAAAAAADAAcANgABAAAAAAAEAAcAdQABAAAAAAAFAAsAFQABAAAAAAAGAAcASwABAAAAAAAKABoAigADAAEECQABAA4ABwADAAEECQACAA4AZwADAAEECQADAA4APQADAAEECQAEAA4AfAADAAEECQAFABYAIAADAAEECQAGAA4AUgADAAEECQAKADQApGljb21vb24AaQBjAG8AbQBvAG8AblZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMGljb21vb24AaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AblJlZ3VsYXIAUgBlAGcAdQBsAGEAcmljb21vb24AaQBjAG8AbQBvAG8AbkZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format("woff"); font-weight: normal; font-style: normal; }
p.meta, footer.meta { margin-top: 1em; }
p.meta .share a:before, footer.meta .share a:before { font: normal normal 1.3em/1 'icomoon' !important; }
p.meta .share a span, footer.meta .share a span { display: none; }
p.meta .share a.facebook:before, footer.meta .share a.facebook:before { content: ""; }
p.meta .share a.twitter:before, footer.meta .share a.twitter:before { content: ""; }
p.meta .share a.whatsapp:before, footer.meta .share a.whatsapp:before { content: ""; }
pre.code, pre > code { font: 1em/1.3 "Courier New", monospace; color: white; margin-bottom: 1em; padding: 0.5em; background: rgba(0, 0, 0, 0.1); display: block; overflow: auto; background: #272822; }
pre.code b, pre.code i, pre.code var, pre.code tt, pre.code em, pre.code kbd, pre.code samp, pre.code u, pre > code b, pre > code i, pre > code var, pre > code tt, pre > code em, pre > code kbd, pre > code samp, pre > code u { text-decoration: none; font-style: normal; font-family: inherit; }
pre.code .c1, pre.code b, pre > code .c1, pre > code b { color: #66D9EF; }
pre.code .c2, pre.code i, pre > code .c2, pre > code i { color: #F92672; }
pre.code .c3, pre.code var, pre > code .c3, pre > code var { color: #A6E22E; }
pre.code .c4, pre.code tt, pre.code em, pre > code .c4, pre > code tt, pre > code em { color: #FD971F; }
pre.code .c5, pre.code kbd, pre > code .c5, pre > code kbd { color: #E6DB74; }
pre.code .c6, pre.code samp, pre > code .c6, pre > code samp { color: #AE81FF; }
pre.code .comment, pre.code .comment *, pre.code u, pre.code u *, pre > code .comment, pre > code .comment *, pre > code u, pre > code u * { color: #75715E !important; }
