article {
  header {
    h1 {
      font-size: 2em;
    }
    .date {
      float: right;
      font-size: 0.8em;
      &:dir(rtl) {
        float: left;
      }
    }
    & + div {
      margin-top: 0.5em;
    }
  }
  img, amp-img, .figure {
    float:left;
    &:dir(rtl) {
      float:right;
    }
    margin:0 1em 1em 0;
    max-width:100%;
    height: auto;
    &.default {
      width: 100%;
      margin: 0 0 1em;
      float:none;
    }
    &.quad {
      max-width:37.5%;
    }
  }
  .figure {
    display: inline-block;
    font-size: 0.8em;
   img {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
    .figcaption {
      display: block;
      padding: 0.5em 0;
      border-bottom: 1px solid;
      color: $color-grey-dark;
    }
  }
  .gallery {
    img {
      &.portrait {
        max-width: calc(50% - 1em);
        margin: 0 0.5em 1em;
      }
    }
  }
  @include no-amp {
    a.gallery__link {
      position:relative;
      cursor:zoom-in;
    }
  }

  & + article {
    margin-top:2em;
    border-top: 1px solid #eee;
  }
  ul, ol {
    li {
      left: 2em;
      position: relative;
      margin-left: 0;
    }
    &.task-list {
      list-style: none;
    }
  }
  dl {
    dt {
      font-weight: $fontweight-bold;
    }
  }
  blockquote {
    color: $color-grey-dark;
  }
  dl dd, blockquote {
    border-left: 1px solid;
    margin-left: 1em;
    padding-left: 0.5em;
  }
  aside[role="note"] {
    float: right;
    margin: 0 1em 1em;
    padding: 0.5em 1em;
    max-width: 33%;
    font-style: italic;
    background-color: $color-grey;
  }
  @include no-amp {
    .conversation {
      overflow: hidden;
      cite {
        border: none;
      }
      blockquote {
        margin-top: 1em;
        background: #eee;
        width: 70%;
        padding: 0.5em 0.5 0 !important;
        border-radius: 0.5em;
        border: none;
        &:nth-child(even) {
          margin-left: 30%;
        }
      }
    }
  }
  code {
    font-family: $fontfamily-monospace;
    background-color: #eee;
    padding: 0.2em 0.3em;
  }
  .table-wrapper {
    max-width: 100%;
    overflow: auto;
  }
  hr {
    border: none;
    border-top: 1px dashed $color-grey;
    margin: 1.5em 25%;
  }
  table {
    margin-bottom: 1em;
    caption {
      font-weight: $fontweight-bold;
    }
    tr, thead, tbody, caption {
      border-bottom:1px solid rgba(0,0,0,0.1);
      &:last-child {
        border:none;
      }
    }
    td, th {
      padding: 0.1em 1em 0.1em 0;
      &:last-child {
        padding-right:0;
      }
    }
    .table-cell--left,
    .table-cell--right,
    .table-cell--center {
      white-space: nowrap;
    }
  }
  .location, .permalink {
    display: none;
  }
  input[type="checkbox"] {
    vertical-align: -0.15em;
  }
  footer {
    color: $color-grey-dark;
    overflow:hidden;
    font-size: 0.8em;
    a {
    text-decoration: none;
    }
  }
  @include no-amp {
    address {
      display: inline-block;
      line-height: 2;
      margin-right: 0.5em;
      background: $color-grey;
      padding: 0.2em;
      border-radius: 0.2em;
      img {
        width: 2em;
        margin: 0;
      }
      span {
        padding: 0.5em;
      }
    }
    .tags, .share {
      margin-top: 1em;
      display: block;
    }
  }
  @include amp {
    address {
      display: none;
    }
  }
  @include no-amp {
    iframe {
      width: 100%;
      overflow: hidden;
      border: none;
    }
  }
}

.teasers {
  .modified {
    display:none;
  }
}

@include no-amp {
  .video-player {
    position: relative;
    padding-bottom: 56.25%;
    width:100%;
    height:0;
    margin-bottom:1em;
    overflow:hidden;
    iframe, img.preview, video {
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      border:none;
    }
  }

  .image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    cursor:zoom-out;

    &:after {
      top: 0.2em;
      right: 0.2em;
      position:absolute;
      z-index: 1;
      content: "\274e";
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
    }
  }


  $icon-facebook: "\e900";
  $icon-twitter: "\e901";
  $icon-whatsapp: "\e902";
  $icomoon-font-path: "../fonts/blogophon/fonts";

  @font-face {
    font-family: 'icomoon';
    src:url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAYsAAsAAAAABeAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIFrGNtYXAAAAFoAAAAVAAAAFQXVtKJZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAAhgAAAIYkWONAWhlYWQAAAPcAAAANgAAADYL0TOHaGhlYQAABBQAAAAkAAAAJAfAA8hobXR4AAAEOAAAABwAAAAcEgAAgWxvY2EAAARUAAAAEAAAABAA0AF8bWF4cAAABGQAAAAgAAAAIAALAEVuYW1lAAAEhAAAAYYAAAGGmUoJ+3Bvc3QAAAYMAAAAIAAAACAAAwAAAAMDgAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6QIDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOkC//3//wAAAAAAIOkA//3//wAB/+MXBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAA/8AD/gO+ACcAAAUhLgE3ESY2NzYkDAExHgEHEQ4BByERMzcjNTQ2OwE1IyIGHQEjFTMCH/4UHxoGAiAVBQEhAVYBHBUgAgYMIf73hRKXJRhmmkpihoZAAxoWA5gcEgUBAQEBAxIe/GgPHgYBi55vGxiaaFx4ngAAAAEAKQB+A90DBwAtAAA3HgE3LgEnFjY3LgEnHgE3LgE3HgMXJj4BFhcWNjcWBgc+ATcOAQcGAgYkJyk8iFZUPBsjLg5FUwYVJRA9FSQaVml3OwVKanIjKDcdATUWGjQZESQlCq/9/tt/fgsDUwlOKQMHCQhXXA4MAzqCRy5ALiMSZG4mGiUJIw4eNBsEDQ0UKSDG/vp7FFYAAwBYAAYDsANmABYALgBCAAABIg4CFRQWFwc3HgEzMj4CNTQuAgcyHgIVFA4CIyImJwc3LgE1ND4CMwcOARceAxcWNj8BJwcuASc3JwIKV5pzQh8cR+gtZjdYmXNCQnOZWEh/Xzc3X39IM2AoiywfJDdff0igHCMSGjtGUC8wQRUIaTU/URowMQNmQnOZWDtsL+RHGRpCc5lYWJlzQkk3X39ISH9fNx0aLYgrZzlIf183jSBDLUBbPygODioSLzs4Dk43NXgAAAABAAAAAQAATyrAy18PPPUACwQAAAAAANRZ94YAAAAA1Fn3hgAA/8AD/gO+AAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAP+AAEAAAAAAAAAAAAAAAAAAAAHBAAAAAAAAAAAAAAAAgAAAAQAAAAEAAApBAAAWAAAAAAACgAUAB4AXACoAQwAAQAAAAcAQwADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAcAAAABAAAAAAACAAcAYAABAAAAAAADAAcANgABAAAAAAAEAAcAdQABAAAAAAAFAAsAFQABAAAAAAAGAAcASwABAAAAAAAKABoAigADAAEECQABAA4ABwADAAEECQACAA4AZwADAAEECQADAA4APQADAAEECQAEAA4AfAADAAEECQAFABYAIAADAAEECQAGAA4AUgADAAEECQAKADQApGljb21vb24AaQBjAG8AbQBvAG8AblZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMGljb21vb24AaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AblJlZ3VsYXIAUgBlAGcAdQBsAGEAcmljb21vb24AaQBjAG8AbQBvAG8AbkZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('woff');
    font-weight: normal;
    font-style: normal;
  }


  p.meta, footer.meta {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dashed $color-grey-dark;
    .share {
      a {
        &:before {
          font: normal normal 1.3em/1 'icomoon' !important;
        }
        span {
          display:none;
        }

        &.facebook {
          &:before {
            content: $icon-facebook;
          }
        }
        &.twitter {
          &:before {
            content: $icon-twitter;
          }
        }
        &.whatsapp {
          &:before {
            content: $icon-whatsapp;
          }
        }
      }
    }
  }
}

pre.code,
pre > code {
  font: 1em/1.3 $fontfamily-monospace;
  color: white;
  margin-bottom: 1em;
  padding: 0.5em;
  background: rgba(0,0,0,0.1);
  display: block;
  overflow: auto;
  background:#272822;
  b, i, var, tt, em, kbd, samp, u {
    text-decoration: none;
    font-style: normal;
    font-family: inherit;
  }
  .c1, b    { color: #66D9EF; } // blue
  .c2, i    { color: #F92672; } // red
  .c3, var  { color: #A6E22E; } // green
  .c4, tt, em { color: #FD971F; } // orange
  .c5, kbd  { color: #E6DB74; } // yellow
  .c6, samp { color: #AE81FF; } // purple
  .comment, u {
    &, * { color:#75715E !important; }
  }
}

