.lang-math {
  * {
    color: inherit !important;
  }
  u {
    text-decoration: none;
    border-bottom: 1px solid;
  }
  i {
    display: none;
  }
  .root {
    display: inline-block;
    border-top: 1px solid;
    padding-right: 0.1em;
  }
  .division {
    display: inline-block;
    text-align: center;
    vertical-align: -0.7em;
    .dividend, .divisor {
      display: block;
    }
  }
}
