$amp:                  false !default;

$width-media-tablet:   1024px !default;
$width-container:      640px !default;

$color-theme:          #116bfc !default;
$color-grey:           #dddddd !default;
$color-grey-dark:      #666666 !default;

$fontfamily-default:   Arial, sans-serif !default;
$fontfamily-monospace: "Courier New", monospace !default;

$fontweight-bold:      bold;
