@import "base";
@import "screen";

#header {
  font-size: 1em;
  padding: 1em;
  margin:0;
  border-bottom: 1px solid #888;
  background: $color-theme;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  a {
    display: block;
    color: white;
    text-align: right;
    font-family: Georgia, serif;
    height: 100%;
  }
}
main {
  padding:1em;
}
.date {
  float: right;
  color: gray;
  font-size: 0.6em;
  font-weight: normal;
  margin-left: 0.5em;
}
#footer {
  text-align: center;
  clear: both;
  border-top: 1px dotted #cccccc;
  font-size: 0.8em;
  color: gray;
  margin-top: 3em;
}
.back {
  text-align:center;
  margin-top:1em;
}
.meta {
  font-size:0.9em;
  color: gray;
  a {
    color: inherit;
  }
  .author,
  .publisher {
    display:none;
  }
}
amp-img {
  &.quad {
    float:left;
    display: inline-block;
    margin: 0 1em 1em 0;
  }
  &.default {
    width:100%;
    clear:both;
  }
}
