#<VirtualHost *:80>
# See https://github.com/h5bp/server-configs-apache
# ServerName {{config.domain}}
{{#if config.isHttps}}
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  </IfModule>
#</VirtualHost>

#<VirtualHost *:443>
# ServerName {{config.domain}}

# SSLEngine on
# SSLCertificateFile      /etc/apache2/certificates/{{config.domain}}/cert.pem
# SSLCertificateKeyFile   /etc/apache2/certificates/{{config.domain}}/privkey.pem
# SSLCertificateChainFile /etc/apache2/certificates/{{config.domain}}/chain.pem
{{/if}}

# DocumentRoot /var/www; # Replace with actual doc root

DirectoryIndex index.html
ErrorDocument 404 /404.html
ErrorDocument 410 /404.html

<IfModule mod_mime.c>
  AddCharset utf-8 html _html css js rss atom xml ics md json txt kml webmanifest
  AddType application/atom+xml atom
  AddType application/json     json
  AddType application/manifest+json webmanifest
  AddType application/rss+xml  rss
  AddType application/vnd.google-earth.kml+xml kml
  AddType audio/mp4            m4a
  AddType audio/mpeg           mp3
  AddType audio/ogg            ogg oga
  AddType image/svg+xml        svg svgz
  AddType text/calendar        ics
  AddType text/markdown        md
  AddType text/x-html          _html
  AddType text/xml             xml
  AddType video/mp4            mp4 m4v
  AddType video/mpeg           mpg
  AddType video/ogg            ogv
  AddType video/webm           webm
  AddEncoding gzip             svgz
</IfModule>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  #Header set Link "<https://www.example.com/endpoint>; rel=webmention"
</IfModule>

{{#if config.specialFeatures.serversideincludes}}
  Options +Includes
  <IfModule mod_mime.c>
    AddOutputFilter INCLUDES html
  </IfModule>
{{/if}}

#<IfModule mod_expires.c>
#  ExpiresActive on
#  ExpiresDefault                          "access plus 1 hour"
#  ExpiresByType application/javascript    "access plus 2 weeks"
#  ExpiresByType image/jpeg                "access plus 2 weeks"
#  ExpiresByType image/jpg                 "access plus 2 weeks"
#  ExpiresByType image/png                 "access plus 2 weeks"
#  ExpiresByType image/svg+xml             "access plus 2 weeks"
#  ExpiresByType image/vnd.microsoft.icon  "access plus 2 weeks"
#  ExpiresByType text/css                  "access plus 2 weeks"
#  ExpiresByType text/javascript           "access plus 2 weeks"
#  ExpiresByType text/x-html               "access plus 2 weeks"
#</IfModule>

# General Blogophon redirects
RedirectMatch 301 "^/htdocs/(.*)$" "/$1"
RedirectMatch 301 "^/(posts|\d+(/\d+(/\d+)?)?)/?$" "/"
RedirectMatch 301 "^/category/?$" "/"

# Add your stuff here

#</VirtualHost>
