<meta property="og:site_name" content="{{config.name}}" />
{{#config.ogImage}}
  {{^post.meta.Image}}
    <meta property="og:image" content="{{config.ogImage}}" />
  {{/post.meta.Image}}
{{/config.ogImage}}
{{#config.twitterAccount}}
  {{#post.meta.Image}}
    <meta name="twitter:card" content="summary_large_image">
  {{/post.meta.Image}}
  {{^post.meta.Image}}
    <meta name="twitter:card" content="summary">
  {{/post.meta.Image}}
  <meta name="twitter:site" content="@{{config.twitterAccount}}" />
  <meta name="twitter:creator" content="@{{config.twitterAccount}}" />
{{/config.twitterAccount}}
{{#config.themeColor}}
  <meta name="theme-color" content="{{config.themeColor}}">
{{/config.themeColor}}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="me" title="fbo&euml;s" href="http://3960.org/" />
<link rel="stylesheet" href="//cdn.3960.org/css/styles.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{config.absoluteBasePath}}posts.rss" />
<link rel="alternate" type="application/atom+xml" title="ATOM" href="{{config.absoluteBasePath}}posts.atom" />
<link rel="alternate" type="application/json" title="JSON" href="{{config.absoluteBasePath}}rss.json" />
{{#config.icons}}
<link rel="icon" href="{{src}}" sizes="{{sizes}}" />
{{/config.icons}}
<link rel="apple-touch-icon" href="//cdn.3960.org/css/iphone.png" />
<link rel="shortcut icon" type="image/x-icon" href="//cdn.3960.org/css/favicon.ico" />
<link rel="publisher" href="https://plus.google.com/111597900565235858304" />
<link rel="manifest" href="{{config.absoluteBasePath}}manifest.json">
