<section>
  <h3>Links</h3>
  <ul>
    <li><a href="{{config.basePath}}tagged/">Alle Tags in diesem Blog</a></li>
    <li><a href="http://3960.org/" rel="me">Mehr über Frank Boës</a></li>
    <li><a href="https://www.youtube.com/user/videofboes/" rel="me">Youtube-Videos</a></li>
    <li><a href="http://blog.3960.org/" rel="me">Mein alter Blog</a></li>
  </ul>
</section>

<section>
  <h3>Über…</h3>
  <p>Merkwürdige Erlebnisse, spontane Einfälle, interessante Entdeckungen und ein paar Meinungen aus dem Leben von <a href="http://3960.org/" rel="me" title="Frank Boes">Frank Boës</a>. <span class="none">Man kann mich auch gerne <a href="http://3960.org/" rel="me">Frank Boes</a> schreiben, aber die Aussprache bleibt bitte [bo:s].</span></p>
</section>

<section>
  <h3>Suche</h3>
  <form onsubmit="window.location.href=this.action+'?q='+encodeURIComponent('site:{{config.baseUrl}} '+this.q.value);return false;" method="get" action="https://www.google.de/search">
    <input type="search" name="q">
    <input type="submit" value="Suchen">
  </form>
</section>
