<!DOCTYPE html>
<html lang="{{config.language}}" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <title>Alle Autoren | {{config.name}}</title>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{config.baseUrl}}{{config.basePath}}authored-by/" />
  <meta property="og:title" name="title" content="Alle Autoren" />
  <meta property="og:description" name="description" content="Alle Autoren in dem Blog &quot;{{config.name}}&quot;" />
  <link rel="canonical" href="{{config.baseUrl}}{{config.basePath}}tagged/" />
  {{>meta}}
</head>
<body class="authors">
  <div id="container">
    {{>header}}
    <div id="main">
      <main>
        <div id="content">
          <h2>Alle Autoren</h2>

          {{#index.length}}
            <nav>
              <ul>
                {{#index}}
                  <li><a href="{{url}}" title="Weitere Artikel vom Author {{title}}">{{title}}</a></li>
                {{/index}}
              </ul>
            </nav>
          {{/index.length}}

        </div>
      </main>
      {{>sidebar}}
    </div>
    {{>footer}}
  </div>
  {{>closure}}
</body>
</html>
